body{
    font-family:sans-serif ;
    text-align: center;
}
.profile-image{
    display:block;
    width:100px;
    height:100px;
    margin:auto;
    margin-top: 40px;
}

.name{
    font-size: 30px;
    margin-bottom: 4px;
    font-style: italic;
}

.title{
    font-size: 18px;
    font-weight: normal;
    margin-top: 4px;
}

.link{
    background-color: #3c463c;
    display:inline-block;
    width:320px;
    color:white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

footer{
    margin-top: 40px;
    font-size: 13px;;
}

.hello{
    font-style: italic;
    color: #81a081;
}